@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.post-content {
  @apply leading-relaxed text-sm;
}

@screen sm {
  .post-content {
    @apply text-base;
  }
}

@screen lg {
  .post-content {
    @apply text-lg;
  }
}

/* Headers */
.post-content h1,
.post-content h2 {
  @apply text-xl my-6 font-semibold;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  .post-content h1,
  .post-content h2 {
    @apply text-2xl;
  }
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    @apply text-xl;
  }
}

/* Links */
.post-content a {
  @apply text-indigo-400;
}

.post-content a:hover {
  @apply underline;
}

/* Paragraph */
.post-content p {
  @apply mb-4;
}

/* Lists */
.post-content ul,
.post-content ol {
  @apply mb-4 ml-8;
}

.post-content li > p,
.post-content li > ul,
.post-content li > ol {
  @apply mb-0;
}

.post-content ol {
  @apply list-decimal;
}

.post-content ul {
  @apply list-disc;
}

/* Blockquotes */
.post-content blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.post-content blockquote > p {
  @apply mb-0;
}

/* Tables */
.post-content td,
.post-content th {
  @apply px-2 py-1 border border-gray-400;
}

.post-content tr:nth-child(odd) {
  @apply bg-gray-100;
}

.post-content table {
  @apply mb-6;
}

.post-content:last-child {
	@apply mb-0;
}
/* purgecss end ignore */

/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-indigo-600 fixed top-0 left-0 w-full h-1;
  z-index: 1031;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute right-0 w-full h-full shadow-md;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}